.nav-title {
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
  color: white;
  padding-left: 10px;
}

.nav {
  margin: 0 0 30px;
  background-color: #A61D2C;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 100;
}

#logo {
  width: 60px;
  margin-left: 20px;
}


.nav-link {
  float: left;
  color: black;
  background-color: #A61D2C;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.active {
  color: white;
}

.nav-link:hover {
  background-color: maroon;
}

.nav-right {
  float: right;
}